.buscador {
    background-color: white;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    box-shadow:
        0 4px 12px rgba(0, 0, 0, 0.08);
}

.buscador label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.buscador input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

.buscador p {
    margin-bottom: 0;
    color: #666;
}

.oculto {
    display: none;
}
#sinResultados {
    text-align: center;
    color: #b02a37;
    font-weight: bold;
    margin-top: 25px;
}